@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy-Bold-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/59dfb1260b1fed000d431d8f/Radomir Tinkov - Gilroy-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Product Sans Medium-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/630a6ec84bf3ee9a2e944d20/fonts/productsans-medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "Product Sans Light-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5fbbbbc50f480e727ed91e52/files/productsans-light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Product Sans-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/63a03f64f2f3033b65ac384a/fonts/idealsans-book.otf")
    format("opentype");
}
