.cherishos {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cherishos .overlap-wrapper {
  overflow: hidden;
  background-image: url(./img/cherishos-5-5.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 2160px;
  height: 1080px;
}

.cherishos .overlap {
  position: relative;
  width: 2488px;
  height: 1417px;
  top: -190px;
  left: -158px;
}

.cherishos .shape {
  position: absolute;
  width: 2160px;
  height: 1080px;
  top: 190px;
  left: 158px;
  mix-blend-mode: soft-light;
}

.cherishos .subtract {
  position: absolute;
  width: 128px;
  height: 183px;
  top: 452px;
  left: 526px;
}

.cherishos .element {
  position: absolute;
  top: 0;
  left: 572px;
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgba(18, 18, 18, 0) 26.51%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Gilroy-Bold-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 945px;
  text-align: center;
  letter-spacing: -18.9px;
  line-height: 945px;
}

.cherishos .text-wrapper {
  color: #000000;
  letter-spacing: -178.6px;
}

.cherishos .span {
  color: #000000;
  font-size: 1417px;
  letter-spacing: -401.58px;
  line-height: 1417px;
}

.cherishos .phone {
  position: absolute;
  width: 953px;
  height: 1080px;
  top: 190px;
  left: 762px;
}

.cherishos .ellipse {
  position: absolute;
  width: 154px;
  height: 154px;
  top: 1024px;
  left: 611px;
  border-radius: 77.04px;
  transform: rotate(-160.59deg);
  background: linear-gradient(180deg, rgb(28.69, 28.69, 28.69) 0%, rgb(18, 18, 18) 100%);
}

.cherishos .div {
  position: absolute;
  width: 159px;
  height: 159px;
  top: 1003px;
  left: 1783px;
  border-radius: 79.26px;
  transform: rotate(102.52deg);
  background: linear-gradient(180deg, rgb(28.69, 28.69, 28.69) 0%, rgb(18, 18, 18) 100%);
}

.cherishos .LOGO-cos {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 290px;
  left: 2158px;
}

.cherishos .fluent-cursor {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 1015px;
  left: 2056px;
}

.cherishos .ellipse-2 {
  position: absolute;
  width: 2488px;
  height: 1236px;
  top: 129px;
  left: 0;
  background-color: #83ffa6a3;
  border-radius: 1244px/618.2px;
  filter: blur(500px);
  mix-blend-mode: soft-light;
}

.cherishos .text-wrapper-2 {
  position: absolute;
  top: 1172px;
  left: 1040px;
  font-family: "Product Sans Medium-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffb2;
  font-size: 15px;
  text-align: center;
  letter-spacing: 30px;
  line-height: 45px;
  white-space: nowrap;
}

.cherishos .group {
  position: absolute;
  width: 177px;
  height: 16px;
  top: 1204px;
  left: 2043px;
  opacity: 0.75;
}

.cherishos .ic-outline-copyright {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

.cherishos .p {
  position: absolute;
  top: 2px;
  left: 21px;
  font-family: "Product Sans Light-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cherishos .group-2 {
  position: absolute;
  width: 312px;
  height: 66px;
  top: 265px;
  left: 1084px;
}

.cherishos .cherish-OS {
  position: absolute;
  top: 0;
  left: 96px;
  font-family: "Product Sans Medium-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cherishos .text-wrapper-3 {
  color: #ffffff;
}

.cherishos .text-wrapper-4 {
  color: #6fde5d;
}

.cherishos .text-wrapper-5 {
  position: absolute;
  top: 34px;
  left: 0;
  font-family: "Product Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.cherishos .qpr {
  position: absolute;
  top: 1195px;
  left: 258px;
  font-family: "Product Sans Medium-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cherishos .r {
  position: absolute;
  width: 18px;
  height: 98px;
  top: 681px;
  left: 2200px;
}

.cherishos .overlap-group {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 40px;
  left: 0;
  border-radius: 9px;
}

.cherishos .ellipse-3 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 6px;
  left: 6px;
  background-color: #ffffff;
  border-radius: 3px;
}

.cherishos .ellipse-4 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 9px;
  border: 1.12px solid;
  border-color: #ffffff;
}

.cherishos .ellipse-5 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 92px;
  left: 6px;
  background-color: #ffffff80;
  border-radius: 3px;
}

.cherishos .ellipse-6 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0;
  left: 6px;
  background-color: #ffffff80;
  border-radius: 3px;
}

.cherishos .l {
  position: absolute;
  width: 16px;
  height: 62px;
  top: 699px;
  left: 258px;
}

.cherishos .noise {
  position: absolute;
  width: 2267px;
  height: 1153px;
  top: 154px;
  left: 105px;
}

.cherishos .texture-wrapper {
  position: relative;
  width: 2160px;
  height: 1080px;
  top: 36px;
  left: 53px;
  background-image: url(./img/texture.png);
  background-size: 100% 100%;
}

.cherishos .texture {
  position: absolute;
  width: 2160px;
  height: 1080px;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
}
